@import './fonts.scss';

$font-color: #81868e;
$active-color: #19bd9a;
@mixin flexAling ($hor: center, $vert: center, $pos: row){
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}


body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: $font-color;
}

.h1{
    margin: 0;
}
.banner{
    width: 100%;
    height: 46.06rem;
    background: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2.44rem;
    padding-bottom: 4.8rem;
    box-sizing: border-box;
    @include flexAling($hor: space-between, $pos:column);
    

.title{
    @include flexAling($pos:column);

    &__big{
        margin: 0;
        text-transform: uppercase;
        font-size: 2.19rem;
        font-weight: 300;
        letter-spacing: 7px; /*расстояние между буквами*/
        margin-bottom: 2.88rem;


    }
    &__small{
        width: 38.13rem; /* размер дива, для переноса текста*/
        text-align: center;
    }
}
    &__button{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: $active-color;
    @include flexAling;
    cursor: pointer;

    &-img{
        width: .75rem;
    }
    }
}
.header{
    width: 100%;
    padding: 0 6.19rem;
    box-sizing: border-box;
    @include flexAling(space-between);
    

    &__logo{
        text-transform: uppercase;
        font-size: 1.56rem;
        font-weight: 800;
  
    }
    &__links{
        &-item {
            text-decoration: none; /*убрать подчеркивание ссылки*/
            color: white;
            padding: 0.63rem 1.25rem;
            border: 1px solid transparent; /*невидимая рамка*/
            box-sizing: border-box;
            border-radius: 1.2rem;
            transition: .4s; /*плавность*/

            &:hover{
                border: 1px solid white;
            }
        }
    }
}